

### I/O ###
train_dir=../cotype/NYT
#dev_dir=/Users/feili/Desktop/umass/MADE/debug_test
#test_dir=../MADE/made_test_data
#model_dir=./ner
word_emb_dir=../glove.6B.300d.txt
#char_emb_dir=

norm_word_emb=False
norm_char_emb=False
number_normalized=True
seg=True
word_emb_dim=50
char_emb_dim=20

###NetworkConfiguration###
use_crf=True
use_char=True
word_seq_feature=LSTM
char_seq_feature=CNN
feature=[POS] emb_size=20 emb_norm=False
feature=[Cap] emb_size=20 emb_norm=False

###TrainingSetting###
optimizer=Adam
iteration=50
batch_size=8
ave_batch_loss=True

###Hyperparameters###
#cnn_layer=4
char_hidden_dim=50
hidden_dim=300
dropout=0.5
lstm_layer=1
bilstm=True
learning_rate=0.001
#lr_decay=0.05
#momentum=0
l2=1e-8
gpu=2
#clip=
MAX_SENTENCE_LENGTH=250
nbest=3

### both
full_data=True
tune_wordemb=False

###relation###
#pretrain=./pretrain
max_seq_len=500
re_feature=[RELATION] emb_size=10 emb_norm=False
re_feature=[ENTITY_TYPE] emb_size=10 emb_norm=False
re_feature=[ENTITY] emb_size=10 emb_norm=False
re_feature=[TOKEN_NUM] emb_size=10 emb_norm=False
re_feature=[ENTITY_NUM] emb_size=10 emb_norm=False
re_feature=[POSITION] emb_size=10 emb_norm=False
pad_idx=0
sent_window=3
#output=./output
unk_ratio=0.03
seq_feature_size=256
max_epoch=50
feature_extractor=lstm





